<h1>Torey's Todo's</h1>

<%= simple_form_for Task.new do |f| %>
  <%= f.input :name, :label => 'Task' %>
  <%= f.submit 'Add Task' %>
<% end %>

<ul id="incomplete">
  <% @incomplete_tasks.each do |task| %>
    <li><%= button_to 'Done', mark_done_task_path(task) %> <%= task.name %></li>
  <% end %>
</ul>
<hr>
<h2>Completed</h2>
<ul id="completed">
  <% @completed_tasks.each do |task| %>
    <li><%= task.name %></li>
  <% end %>
</ul>